.tweets-area {
    width: 50%;

    margin: 15px auto;

    color: white;
}

.creation {
    margin: 20px auto;
}

textarea {
    width: 100%;

    background-color: black;
    color: white;

    border: 0;
}

.tweet {
    position: relative;

    padding: 10px 15px 5px 10px ;
    height: 200px;
    border: 1px solid rgb(97, 97, 97);
}

.icon-profile {
    float: left;

    margin-left: 15px;
}

.tweet-body {
    width: 80%;
    margin-left: 80px;
}

.tweet-header {
    display: inline-block;
}

input[type=submit] {
    font-weight: bold;
    font-size: 1rem;

    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
}

input[type=submit]:hover {
    text-decoration: underline;
}

.small {
    color: rgb(170, 170, 170);
    font-size: 1rem;
}

i {
    border: 10px solid transparent;
    border-radius: 50%;
}

.comment:hover {
    color: rgb(0, 68, 255);
}

.rt:hover {
    color: rgb(0, 255, 0);
}

.like:hover {
    color: rgb(255, 0, 85);
}

.comment i:hover {
    border-color: rgba(60, 112, 255, 0.4);
    background-color: rgba(60, 112, 255, 0.4);
}
.rt i:hover {
    border-color: rgba(64, 212, 64, 0.397);
    background-color: rgba(64, 212, 64, 0.397);
}
.like i:hover {
    border-color: rgba(211, 58, 109, 0.397);
    background-color: rgba(211, 58, 109, 0.4);
}

.tweet-footer {
    position: absolute;
    width: 100%;

    bottom: 5px;
}

.footer-item {
    display: inline-block;

    width: 30.333%;
}